aws_account_id  = ""
team = "data_team"
databricks_account_id = ""
resource_prefix = ""
principal = "your email"
workspace_id = ""
workspace_catalog_admin = "your email"
host = "workspace url"
token = ""
